<div style="display: none;" class="h-card vcard">
    <span class="p-name fn">Rdr. Seraphim Pardee</span>
    <span class="p-honorific-prefix title">Rdr.</span>
    <span class="p-given-name given-name">Seraphim</span>
    <span class="p-additional-name">R.</span>
    <span class="p-family-name family-name">Pardee</span>
    <span class="p-nickname nickname">srp</span>
    <span class="p-nickname nickname">SeraphimRP</span>
    <span class="p-job-title title">Reader (minor clergy), Software Engineer</span>
    <img class="u-photo photo" src="https://srp.life/content/images/size/w256h256/format/jpeg/2025/03/453064960_3021890884616733_2803591731230311694_n.jpg" />
    <a class="u-url url" href="https://srp.life">web</a>
    <a class="u-email email" href="mailto:me@srp.life">email</a>
    <a class="u-email email" href="mailto:srp@kerygma.digital">email 2</a>
    <span class="p-note note">I'm a reader in the Orthodox Church in America, specializing in choir and choir accessories (countertenor). I live in the world as a software engineer. Blessed to be a husband and a girldad.</span>
    <div class="p-adr h-adr">
        <span class="p-street-address">PO Box 164</span>
        <span class="p-locality">Grand Blanc</span>
        <span class="p-region" title="Michigan">MI</span>
        <span class="p-postal-code">48480</span>
        <span class="p-country-name">United States of America</span>
    </div>
    <time class="dt-bday">1998-08-25</time>
    <span class="p-sex p-gender-identity">Male</span>
</div>