{{ define "main" }}
<div class="container home-layout">

	{{ partial "wiki-sidebar.html" . }}

	{{- /* Right Column: Entries filtered to this category */ -}}
	<main class="post-column h-feed">
		{{ partial "wm-window-top.html" (dict "title" (printf "~/wiki/categories/%s" (.Title | urlize)) "style" "min-height: 80vh;" "class" "paginated-window") }}
		{{ $posts := sort (where (where .Pages "Section" "wiki") "Draft" false) "Title" }}
		{{ partial "wiki-entry-list.html" (.Paginate $posts).Pages }}

		{{ partial "pagination.html" . }}
		{{ partial "wm-window-bottom.html" . }}
	</main>
</div>
{{ end }}
