/* Reset & Base */
html {
    box-sizing: border-box;
    font-size: 16px;
    /* background-color: var(--cde-bg); */
    color: var(--cde-text);
    font-family: var(--font-serif);
    /* Simple SVG Pattern Background */
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='5' height='5' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='rgba(87, 76, 143,1)'/%3E%3Cpath d='M-10 30h60v1h-60zM-10-10h60v1h-60' fill='rgba(117, 105, 176,1)'/%3E%3Cpath d='M-10 10h60v1h-60zM-10-30h60v1h-60z' fill='rgba(147, 138, 193,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 80px 40px 40px 40px;
    /* Increased top padding for system bar */
    min-height: 100vh;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--cde-title-active);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}