/* Reset & Base */
html {
    box-sizing: border-box;
    font-size: 16px;

    color: var(--cde-text);
    font-family: var(--font-serif);
    /* Simple SVG Pattern Background */
    background-image: url("../images/background_purple.svg");
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 80px 40px 40px 40px;
    /* Increased top padding for system bar */
    min-height: 100vh;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--cde-title-active);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}