/* Layouts */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.home-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
}

@media (max-width: 800px) {
    .home-layout {
        grid-template-columns: 1fr;
    }
}

footer {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    font-size: 0.85rem;
    color: var(--cde-text-muted);
    background-color: var(--cde-bg);
    border: 2px solid var(--cde-dark);
    border-bottom-color: var(--cde-white);
    border-right-color: var(--cde-white);
    padding: 10px;
}