{{!< default}}

{{#post}}
<div class="site-content-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="post-wrap">
                    <article class="post-single {{post_class}}">
                        {{#match @page.show_title_and_feature_image}}
                        <div class="post-header d-flex {{#if feature_image}}has-image"
                            style="background-image: url({{feature_image}});{{/if}}">
                            <div class="header-content-wrap text-center">
                                <h1 class="post-title text-center">{{title}}</h1>
                            </div>
                        </div>
                        {{/match}}
                        <div class="post-content">
                            {{content}}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{{/post}}
