{{ define "main" }}
<div class="container">
	<article class="wm-window" data-wm-title="~/content/pages/{{ .File.ContentBaseName }}.md">
		<div class="wm-window-content">
			{{ if ne (.Params.show_title_and_feature_image | default true) false }}
				<header class="post-header">
					<h1 class="post-title">{{ .Title }}</h1>

					{{ with .Params.feature_image }}
						<figure class="post-image">
							<img src="{{ . }}" alt="{{ or $.Params.feature_image_alt $.Title }}" style="
								width: 100%;
								height: auto;
								margin: 20px 0;
								" />
						</figure>
					{{ end }}
				</header>
			{{ end }}

			<section class="gh-content">{{ .Content }}</section>

			{{ with site.Params.contentRepo }}
				<div class="post-meta" style="margin-top: 20px;">
					<a href="{{ . }}/blob/main/content/pages/{{ $.File.ContentBaseName }}.md" class="post-src-link">[src]</a>
				</div>
			{{ end }}
		</div>
	</article>
</div>
{{ end }}
