<aside class="profile-column">
	{{ partial "wm-window-top.html" (dict "title" "~") }}
	{{ if .profilePicture }}
		<img src="{{ .profilePicture | relURL }}" alt="{{ .profileTitle }}" class="profile-photo">
	{{ else }}
		<div class="profile-photo" style="height: 200px; display: flex; align-items: center; justify-content: center; background: #ddd;">
			<span>No Photo</span>
		</div>
	{{ end }}

	<h2 class="profile-name">{{ .profileTitle }}</h2>
	<div class="profile-bio">{{ .profileBio | .page.RenderString }}</div>

	<ul class="profile-social">
		{{ range sort .profileSocial "order" }}
			<a href="{{ .url }}">{{ partial "icon-btn.html" (dict "name" .icon "pack" .pack) }}</a>
		{{ end }}
	</ul>

	{{- with .GitInfo }}
		<div class="profile-git-info">
			<p>Last updated: {{ .CommitDate.Format "2006-01-02" }} ({{ with site.Params.contentRepo }}<a href="{{ . }}/commit/{{ $.GitInfo.Hash }}">{{ $.GitInfo.AbbreviatedHash }}</a>{{ else }}{{ .AbbreviatedHash }}{{ end }})</p>
		</div>
	{{- end }}

	{{ partial "wm-window-bottom.html" . }}
</aside>
