/* Profile Window */
.profile-photo {
    width: 100%;
    height: auto;
    /* Inset Bevel */
    border: 2px solid var(--cde-dark);
    border-bottom-color: var(--cde-white);
    border-right-color: var(--cde-white);
    margin-bottom: 15px;
    background-color: #ddd;
    display: block;
}

.profile-name {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-bio {
    font-size: 0.9rem;
    margin-bottom: 15px;
}