$theme-light: (
    // crust
    bg-color: #ebdbb2,

    // subtext 1
    text-title: #1d2021,

    // text
    text-body: #282828,

    // subtext 0
    text-light: #504945,

    // lavender
    accent-color: #689d6a,

    // green
    success: #b8bb26,

    // red
    error: #fb4934,
);

$theme-dark: (
    // crust
    // original: #252733
    bg-color: #282828,

    // subtext 1
    // original: #FFFFFF
    text-title: #ebdbb2,

    // text
    // original: #D5D5D5
    text-body: #ebdbb2,

    // subtext 0
    // original: #929399
    text-light: #bdae93,

    // blue
    accent-color: #689d6a,

    // green
    success: #b8bb26,

    // red
    error: #fb4934,
);

$font-body: 'Newsreader', 'Noto Sans', sans-serif;
$font-title: 'Lora', serif;


// distributing the values according to each theme
:root {
    @each $name, $value in $theme-dark {
        --#{$name}: #{$value};
    }
}

[data-theme="light"] {
    @each $name, $value in $theme-light {
        --#{$name}: #{$value};
    }
}
