.messages-wrap {
    margin-top: 24px;
}

.message-success,
.message-error {
    display: none;
    color: #fff;
    padding: 4px 16px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 0.875rem;
}

.message-success {
    background-color: var(--success);
}

.message-error {
    background-color: var(--error);
}

.success {
    .message-success {
        display: inline-block;
    }
}

.error {
    .message-error {
        display: inline-block;
    }
}

/* given that notifications are largely handled by Ghost's
   portal, these may be safe to remove, along with notification() in index.js */
.notification {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--success);
    color: #fff;
    font-size: 1rem;
    padding: 24px 56px;
    visibility: hidden;
    transform: translateY(-150%);
    transition: all .25s ease-in-out .3s;

    &.error {
        background-color: var(--error);
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .close-icon {
        position: absolute;
        top: 16px;
        right: 32px;
        color: #fff;
        font-size: 1.5rem;
    }
}

.subscribe-success .notification-subscribe {
    visibility: visible;
    transform: translateY(0);
}

.signup-success .notification-signup {
    visibility: visible;
    transform: translateY(0);
}

.signin-success .notification-signin {
    visibility: visible;
    transform: translateY(0);
}

.signin-failure .notification-signin-failure {
    visibility: visible;
    transform: translateY(0);
}

.checkout-success .notification-checkout {
    visibility: visible;
    transform: translateY(0);
}

.checkout-cancel .notification-checkout-cancel {
    visibility: visible;
    transform: translateY(0);
}

.billing-update-success .notification-billing-success {
    visibility: visible;
    transform: translateY(0);
}

.billing-update-cancel .notification-billing-cancel {
    visibility: visible;
    transform: translateY(0);
}

.notification.closed {
    visibility: hidden;
    transform: translateY(-150%);
    transition: all 0.25s ease-in-out 0s;
}