{{ define "main" }}
<div class="container">
	<article class="wm-window h-entry" data-wm-title="~/content/posts/{{ printf "%s/%s/index.md" (.Date.Format "2006/01/02") .File.ContentBaseName }}">
		<div class="wm-window-content">
			<header class="post-header">
				{{ with $url := .Params.cover }}
					<figure class="post-image">
						{{ if strings.HasPrefix $url "http" }}
							<img src="{{ $url }}" alt="{{ or $.Params.cover_alt $.Title }}" />
						{{ else }}
							<img src="./{{ $url }}" alt="{{ or $.Params.cover_alt $.Title }}" />
						{{ end }}
					</figure>
				{{ end }}


				<div class="post-header-content">
					<h1 class="post-title p-name">{{ .Title }}</h1>
					<section class="post-meta">
						<time class="post-date dt-published" datetime="{{ .Date.Format " 2006-01-02" }}">
							{{ .Date.Format "2 January 2006" }}
						</time>
						{{- with (index (.GetTerms "t") 0) }}in <a class="p-category" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}
						{{- with (after 1 (.GetTerms "t")) }}
							<span class="additional-tags wm-btn">+
								<div class="more-tags">
									{{- range . }}
										<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
									{{- end }}
								</div>
							</span>
						{{- end }}
						({{ .ReadingTime }} minute read)
						{{ with site.Params.contentRepo }}
							<a href="{{ . }}/blob/main/content/posts/{{ printf "%s/%s/index.md" ($.Date.Format "2006/01/02") $.File.ContentBaseName }}" class="post-src-link">[src]</a>
						{{ end }}
					</section>
					<a class="u-url" href="{{ .Permalink }}" style="display:none;"></a>
					<span class="p-author h-card" style="display:none;">
						<img class="u-photo p-photo" src="{{ site.Params.indieweb.photoURL }}" alt="{{ .Site.Params.author }}" />
						<a class="u-url p-name" href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a>
					</span>
				</div>
			</header>

			<section class="gh-content e-content">
				{{ .Content }}
			</section>

			<section
				class="webmentions-section"
				id="webmentions"
				style="display:none;">
				<h3 class="webmentions-heading">Elsewhere on the Web</h3>
				<div id="webmentions-list"></div>
			</section>

			{{ partial "giscus.html" . }}
		</div>
	</article>
</div>
{{ end }}
